<h2>Update your homie below</h2>

<%= form_for @employee do |f| %><br>
<%= f.label :first_name %><br>
<%= f.text_field :first_name %><br><br>
<%= f.label :last_name %><br>
<%= f.text_field :last_name %><br><br>
<%= f.label :alias %><br>
<%= f.text_field :alias %><br><br>
<%= f.label :title %><br>
<%= f.text_field :title %><br><br>
<%= f.label :office %><br>
<%= f.text_field :office %><br><br>
<%= f.collection_select(:dog_id, Dog.all, :id, :name) %><br><br>



<%= f.submit "Update your homie now." %>

<% end %>
