<h1>Add a New Employee</h1>

<%= form_for @employee do |f| %>
     <% if @employee.errors.any? %> 
	<h2>Errors:</h2>
	<ul>
		<% @employee.errors.full_messages.each do |message| %>
		<li> <%= message %></li>
	<% end %>
	</ul>
  <% end %>

 
    <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
     </p>
     <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
     </p>
      <p>
    <%= f.label :alias %><br />
    <%= f.text_field :alias %>
     </p>
      <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
     </p>
      <p>
    <%= f.label :office %><br />
    <%= f.text_field :office %>
     </p>
      <p>
    <%= f.label :img_url %><br />
    <%= f.text_field :img_url %>
     </p>
      <p>
    <%= f.collection_select(:dog_id, Dog.all, :id, :name) %><br><br>
     </p>
      <p>
    <%= f.submit "Add a New Employee" %>
     </p>

<% end %>